/**
Acá voy a agregar los estilos
*/



* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header {
    padding: 40px;
    margin: 10px;
    border-bottom: 5px solid rgb(246, 169, 238);
    width: 75%;
    /**background-image: url("/imagenes/Fondo1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 400px;*/
}

#francisca {
    text-align: center;
    opacity: 1;
    width: 25%;
}

h1 {
    border-bottom: 3px rgb(249, 135, 234) double;
    padding: 4px;
    margin: 30px;
    color: rgb(244, 221, 240);
    font-weight: bold;
    font-size: 100%;
    font-family: 'Phudu', cursive;
    margin: auto;
    text-align: center;
}

/**  este es el subtitulo abajo del nombre de la persona*/
#subtitulo {
    font-family: 'Mynerve', cursive;
    font-size: 20px;
    margin: auto;
    text-align: center;
    padding: 10px;
    color: rgb(163, 156, 162);
}
/**PONELE QUE HASTA ACÁ YA ESTA, REVISAR ABAJO*/

div {
    border: 1px solid rgb(249, 170, 235);
    padding: 5px;
    margin: 3px;
    color: rgb(251, 137, 255);
    font-weight: bold;
    font-size: 100%;
    background-image: url("/imagenes/Fondo1.jpg");
    opacity: 1;
}

.apartado {
    color: rgb(184, 140, 183);
    text-align: center;
    background-image: url("/imagenes/Fondo1.jpg");
}


.apartado-angosto {
    color: rgb(184, 140, 183);
    text-align: center;
    margin: 2px;
}

.cuerpo {
    color: rgb(79, 68, 79);
    text-align: justify;
    padding: 5px;
    margin: 5px;
    text-indent: 30px;
}

ul {
    margin: 10px;
    padding: 0px 40px 0px 40px;
}

li {
    margin: 10px;
    text-align: justify;
    color: rgb(0, 0, 0);
    padding: 0px
}

h3 {
    color: black ;
    font-size: 20px;
    margin: 5px;
}

p {
    margin: 5px;
    text-align: justify;
    line-height: 25px;
    font-size: 15px;
}

body {
    background-image: url("/imagenes/Fondo1.jpg");
    width: 100%;
  }