ul {
    list-style-type: none;
    padding-inline-start: 2vw;
}

li {

} 

label {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    width: 10vw;
    font-size: 1.5vw;
    padding: 1vw;
    
} 

input {
    
}
