*{
    color: lightpink;
    font-family: 'Roboto', sans-serif;
    margin: 5px;
}

h1{
    color: red;
    font-family: 'Handlee', cursive;
    width: 300px;
    padding: 10px;
    margin: 15px;

}

h2{
    padding: 10px;
    margin: 15px;
    font-weight: bold;
    color: gray;
}

section {
    border: 20px solid red;
    padding: 5px;
    margin: 10px;
}